Importing the Packages

In [1]:
import  pandas as pd
import numpy as np

Importing the Data

In [3]:
raw_csv_data = pd.read_csv("data/Index2018.csv")
df_comp = raw_csv_data.copy()

Length of the Time Period

In [7]:
# El campo date es un string, y hay que convertirlo a datetime para trabajar con el
df_comp.dtypes

date       object
spx       float64
dax       float64
ftse      float64
nikkei    float64
dtype: object

In [12]:
df_comp.date.head(5)

0    07/01/1994
1    10/01/1994
2    11/01/1994
3    12/01/1994
4    13/01/1994
Name: date, dtype: object

In [11]:
# Como los campos de date son string, tiene un valor de 1
# Entonces, top devuelve un valor aleatorio, por tanto tenemos 
# que arreglar esto
df_comp.date.describe()

count           6269
unique          6269
top       07/01/1994
freq               1
Name: date, dtype: object

From Text to datetime

In [17]:
df_comp.date = pd.to_datetime(df_comp.date, dayfirst = True)
df_comp.date.head(3)

0   1994-01-07
1   1994-01-10
2   1994-01-11
Name: date, dtype: datetime64[ns]

In [18]:
df_comp.date.describe()

count                             6269
mean     2006-01-14 19:36:59.492742144
min                1994-01-07 00:00:00
25%                2000-01-11 00:00:00
50%                2006-01-12 00:00:00
75%                2012-01-19 00:00:00
max                2018-01-29 00:00:00
Name: date, dtype: object

Setting the Index

In [22]:
df_comp.set_index("date", inplace= True)

In [23]:
df_comp.head()

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25
1994-01-12  474.17  2182.06  3372.02  18793.88
1994-01-13  472.47  2142.37  3360.01  18577.26